.body {
  padding-top: 179px;
  background-color: #fff;
  font-family: Nunito, sans-serif;
  color: #0c326b;
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 400;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #fff;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.navbar-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
  max-width: 100%;
  padding: 30px 20px 47px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: none 0ms ease;
  transition: none 0ms ease;
}

.brand {
  width: 100%;
  max-width: 200px;
  -webkit-transition: none 0ms ease;
  transition: none 0ms ease;
}

.nav-menu {
  top: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 35px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transition: none 0ms ease;
  transition: none 0ms ease;
}

.menu-button {
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}

.menu-button-icon {
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}

.nav-link {
  -webkit-transition: none 0ms ease;
  transition: none 0ms ease;
  color: #0c326b;
  font-size: 18px;
  line-height: 1em;
  font-weight: 300;
  text-transform: uppercase;
}

.nav-link.w--current {
  color: #0c326b;
}

.nav-link.nav-link-icon {
  margin-left: 30px;
}

.nav-link.featured {
  background-color: #a1d1e5;
  color: #fff;
}

.nav-link.featured.w--current {
  color: #fff;
}

.nav-link-img {
  width: 25px;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}

.brand-img {
  width: 100%;
  -webkit-transition: none 0ms ease;
  transition: none 0ms ease;
}

.hero-img-wrapper {
  display: block;
  width: 1300px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
}

.hero-img {
  width: 100%;
}

.hero-content-wrapper {
  position: relative;
  display: block;
  width: 1000px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  background-color: #fff;
}

.hero-content-inner {
  padding: 30px;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: 'Tangerine', cursive;
  font-size: 70px;
  line-height: 1em;
  font-weight: 400;
  text-align: center;
  color: #ebac1e;
}

.hero-subtitle {
  margin-bottom: 50px;
  font-size: 25px;
  line-height: 1.3em;
  font-weight: 400;
  text-align: center;
}

.hero-content {
  display: block;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  line-height: 1.3em;
  text-align: center;
}

.units-container-wrapper {
  display: block;
  width: 1300px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 70px;
  padding-right: 20px;
  padding-left: 20px;
}

.units-container-inner {
  position: relative;
}

.units-slider {
  height: auto;
  background-color: transparent;
}

.units-slider-img {
  width: 85%;
}

.units-container-content-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 100%;
  max-width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.units-container-content-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: hsla(0, 0%, 100%, .9);
}

.heading-subtitle {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #ebac1e;
  font-size: 30px;
  line-height: 1.3em;
  font-weight: 400;
  text-align: center;
}

.units-container-paragraph {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  text-align: center;
}

.amenities-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 45px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.amenities-details-wrapper {
  width: 50%;
  padding-right: 20px;
}

.amenities-gallery-wrapper {
  width: 50%;
  padding-left: 20px;
}

.heading-amenities {
  margin-top: 0px;
  margin-bottom: 5px;
  color: #ebac1e;
  font-size: 30px;
  line-height: 1.3em;
  font-weight: 400;
  text-align: left;
}

.heading-amenities-subtitle {
  margin-top: 0px;
  margin-bottom: 35px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ebac1e;
  font-size: 16px;
  line-height: 1em;
  font-weight: 300;
}

.amenities-list-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.amenities-list-right {
  width: 50%;
  padding-left: 35px;
}

.amenities-list-left {
  width: 100%;
}

.amenities-list {
  padding-left: 22px;
}

.amenities-list.small {
  font-size: 14px;
}

.amenities-list-item {
  margin-bottom: 15px;
}

.amenities-list-item.small {
  margin-bottom: 5px;
}

.amenities-img {
  width: 100%;
}

.reserve-wrapper {
  margin-bottom: 10px;
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #0c326b;
}

.reserve-left {
  width: 35%;
}

.reserve-right {
  width: 65%;
}

.reserve-form-wrapper {
  display: block;
  width: 800px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: #0c326b;
  font-weight: 300;
}

.reserve-inner {
  display: block;
  width: 1300px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.reserve-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #a1d1e5;
  font-size: 70px;
  line-height: 1em;
  font-weight: 400;
  text-align: center;
}

.reserve-subtitle {
  margin-top: 0px;
  margin-bottom: 40px;
  color: #fff;
  font-size: 30px;
  line-height: 1em;
  font-weight: 400;
  text-align: center;
}

.input-label {
  color: #fff;
  font-weight: 300;
}

.form-input {
  height: 50px;
  margin-bottom: 25px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

.form-submit {
  padding: 15px 120px;
  background-color: #a1d1e5;
  color: #fff;
  font-size: 18px;
  line-height: 1em;
}

.form-input-wrapper {
  padding-top: 20px;
  text-align: center;
}

.form-success {
  background-color: #ebac1e;
  color: #fff;
}

.info-wrapper {
  margin-top: 10px;
  padding: 30px 20px;
  background-color: #a1d1e5;
}

.info-action {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 30px;
  line-height: 1.3em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-wrapper {
  padding: 50px 20px 20px;
  background-color: #0c326b;
}

.footer-wrapper-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
  max-width: 100%;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
  color: #fff;
}

.footer-col {
  width: 33%;
}

.footer-col.last {
  text-align: right;
}

.brand-footer {
  width: 130px;
  max-width: 100%;
}

.brand-footer-img {
  width: 100%;
}

.footer-label {
  margin-bottom: 5px;
}

.footer-label.yellow {
  color: #ebac1e;
}

.footer-label.yellow.short {
  /*max-width: 250px;*/
}

.footer-spacer {
  height: 20px;
}

.footer-link {
  color: #ebac1e;
}

.brand-footer-sb {
  width: 130px;
  max-width: 100%;
}

.footer-copyright {
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.unit-trigger {
  position: relative;
  top: -10px;
  width: 100%;
  height: 0px;
}

.amenities-trigger {
  position: relative;
  top: -45px;
  width: 100%;
  height: 0px;
}

.reserve-trigger {
  position: relative;
  top: -10px;
  width: 100%;
  height: 0px;
}

.specs-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 45px;
  padding-right: 20px;
  padding-left: 20px;
}

.specs-gallery-wrapper {
  width: 50%;
  padding-right: 20px;
}

.specs-details-wrapper {
  width: 50%;
  padding-left: 20px;
}

html.w-mod-js *[data-ix="hero-scroll-animation"] {
  opacity: 0;
  -webkit-transform: translate(0px, 60px);
  -ms-transform: translate(0px, 60px);
  transform: translate(0px, 60px);
}

html.w-mod-js *[data-ix="scroll-animation"] {
  opacity: 0;
  -webkit-transform: translate(0px, 60px);
  -ms-transform: translate(0px, 60px);
  transform: translate(0px, 60px);
}

@media (max-width: 991px) {
  .body {
    padding-top: 65px;
  }
  .navbar {
    border-bottom: 1px solid #f0f0f0;
  }
  .navbar-container {
    display: block;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .brand {
    width: 120px;
    max-width: 100%;
  }
  .nav-menu {
    position: absolute;
    top: 96px;
    display: block;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: hsla(0, 0%, 100%, .9);
  }
  .menu-button {
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 35px;
  }
  .menu-button.w--open {
    background-color: #fff;
    color: #0c326b;
  }
  .nav-link {
    text-align: right;
  }
  .hero-img-wrapper {
    margin-bottom: 35px;
  }
  .hero-content-wrapper {
    max-width: 85%;
  }
  .units-container-wrapper {
    padding-top: 0px;
  }
  .units-slider-img {
    width: 100%;
  }
  .units-container-content-wrapper {
    position: relative;
    top: -35px;
    display: block;
    width: 1000px;
    max-width: 85%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .units-container-content-inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .amenities-wrapper {
    padding-bottom: 45px;
  }
  .amenities-list-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .amenities-list-right {
    width: 100%;
    padding-left: 0px;
  }
  .amenities-list-left {
    width: 100%;
    padding-right: 0px;
  }
  .amenities-list-item {
    margin-bottom: 10px;
  }
  .info-action {
    font-size: 25px;
  }
  .footer-wrapper-inner {
    font-size: 14px;
  }
  .specs-wrapper {
    padding-bottom: 45px;
  }
}

@media (max-width: 800px) {
  .body {
    padding-top: 51px;
  }
}
@media (max-width: 767px) {
  .hero-img-wrapper {
    margin-bottom: 20px;
  }
  .hero-img {
    margin-bottom: 20px;
  }
  .hero-content-wrapper {
    max-width: 90%;
  }
  .hero-content-inner {
    padding-right: 0px;
    padding-left: 0px;
  }
  .hero-title {
    margin-bottom: 10px;
    font-size: 60px;
  }
  .hero-subtitle {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20px;
  }
  .hero-content {
    font-size: 16px;
  }
  .units-container-content-wrapper {
    top: -20px;
    max-width: 90%;
  }
  .heading-subtitle {
    font-size: 20px;
  }
  .amenities-wrapper {
    padding-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .amenities-details-wrapper {
    width: 100%;
    padding-right: 0px;
  }
  .amenities-gallery-wrapper {
    display: none;
  }
  .heading-amenities {
    font-size: 20px;
  }
  .heading-amenities-subtitle {
    font-size: 18px;
  }
  .amenities-list-item {
    margin-bottom: 5px;
    font-size: 14px;
  }
  .reserve-heading {
    font-size: 50px;
  }
  .reserve-subtitle {
    font-size: 22px;
  }
  .info-action {
    font-size: 18px;
  }
  .footer-wrapper {
    padding-top: 40px;
  }
  .footer-wrapper-inner {
    margin-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-col {
    width: 80%;
    margin-bottom: 25px;
    text-align: center;
  }
  .footer-col.last {
    text-align: center;
  }
  .footer-label {
    margin-bottom: 0px;
  }
  .footer-label.yellow.short {
    max-width: none;
  }
  .specs-wrapper {
    padding-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .specs-gallery-wrapper {
    display: none;
  }
  .specs-details-wrapper {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
  .form-submit{
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
  }
}

@media (max-width: 479px) {
  .hero-title {
    font-size: 50px;
  }
  .hero-subtitle {
    font-size: 18px;
  }
  .units-container-content-wrapper {
    top: -10px;
  }
  .heading-subtitle {
    font-size: 18px;
  }
  .heading-amenities {
    font-size: 18px;
  }
  .reserve-heading {
    font-size: 40px;
  }
  .reserve-subtitle {
    font-size: 20px;
  }
  .form-submit {
    width: 100%;
  }
  .info-action {
    font-size: 16px;
  }
}

