<body style="border:0;margin:0;padding:0;">

<table bgcolor="#1d679c" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td style="height:132px;" >
                <table width="650" cellpadding="0" cellspacing="0" width="100%" style="margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <a href="https://sbpvr.com" target="_blank" style="width:175px;margin-top: 22px;position:relative; display:block; margin:0 auto;">
                                    <img style="width:100%;" src="https://sbpvr.com/wp-content/themes/sbpvr/mail-templates/sales/sb-logo-white.png" >
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table bgcolor="#22537a" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td style="height:28px;" >
                <div style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:center; color:#cacaca;font-size:11px;padding-top:1px;">THE PATH TO THE LIFESTYLE OF YOUR DREAMS IN VALLARTA</div>
            </td>
        </tr>
    </tbody>
</table>
<table bgcolor="#333333" cellpadding="0" cellspacing="0" width="100%" style="margin-top: 1px;">
    <tbody>
        <tr>
            <td style="height: 42px;">
                <table cellpadding="0" cellspacing="0" width="650" style="margin: 1px auto 0 auto;">
                    <tbody>
                        <tr>
                            <td style="width: 400px;text-align: right;">
                                <a style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;margin-right: 15px;margin-left: 15px;color: #fff;font-size: 18px;text-decoration: none;" href="https://sbpvr.com/properties-sale/listings/" target="_blank">    Properties for Sale
                                </a>
                                <a style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;margin-right: 15px;margin-left: 15px;color: #fff;font-size: 18px;text-decoration: none;" href="https://sbpvr.com/rentals/vacation-rentals/" target="_blank">    Vacation Rentals
                                </a>
                                <a style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;margin-right: 15px;margin-left: 15px;color: #fff;font-size: 18px;text-decoration: none;" href="http://fishingpvr.com/" target="_blank">
                                    Sportfishing
                                </a>
                            </td>
                            <td style="width:99px; text-align: right; padding-top:2px;">
                                <a style="background-color:#a83644;display:inline-block;height: 21px;margin-left: 6px;border-radius: 4px;width: 20px;" href="https://sbpvr.com/properties-sale/listings/" target="_blank"></a>
                                <a style="background-color:#b2c346;display:inline-block;height: 21px;margin-left: 6px;border-radius: 4px;width: 20px;" href="https://sbpvr.com/rentals/vacation-rentals/" target="_blank"></a>
                                <a style="background-color:#d7b144;display:inline-block;height: 21px;margin-left: 6px;border-radius: 4px;width: 20px;" href="https://sbpvr.com/property-management/" target="_blank"></a>
                                <!--<a style="background-color:#97428b;display:inline-block;height: 21px;margin-left: 6px;border-radius: 4px;width: 20px;" href="http://fishingpvr.com/" target="_blank"></a>-->
                                &nbsp;&nbsp;   
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
    </tbody>
</table>

<table bgcolor="#f1f1f1" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td>

<!-- HEADING IMAGE -->
<table cellpadding="0" cellspacing="0" width="650" style="margin: 0 auto; position:relative;">
    <tbody>
        <tr>
            <td style="width: 650px; position: relative;">
                <a href="{{HEADING_LINK}}" target="_blank" style="display:block; width: 100%; height: 100%;">
                    <img style="width:100%; height: auto;" src="{{HEADING_IMAGE}}" >
                    <!--https://sbpvr.com/wp-content/themes/sbpvr/mail-templates/sales/bg-demo.jpg-->
                </a>
                <div style="height:4px;width:100%;background: #8d8d8d"></div>
                <div style="width: 100%; padding: 10px 28px; text-align: justify; background: #fff; font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:18px; box-sizing: border-box;">
                    <p>{{MAIN_TEXT}}</p>
                </div>
                <!--<img style="width:100%; height: auto;" src="https://sbpvr.com/wp-content/themes/sbpvr/mail-templates/sales/path.jpg">-->
            </td>
        </tr>
    </tbody>
</table>


<!-- NEWS LIST -->
<table cellpadding="0" cellspacing="0" width="650" bgcolor="#ffffff" style="margin: 1px auto 0 auto; position:relative;">
    <tbody>
        <tr>
            <td style="padding-left: 30px; padding-right: 30px;">
                
                <table cellpadding="0" cellspacing="0" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 50%; padding-right: 15px;">
                                {{NEWS_ITEM_1}}
                            </td>
                            <td style="width: 50%; padding-left: 15px;">
                                {{NEWS_ITEM_2}}
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
    </tbody>
</table>

<!-- SALES -->
<table cellpadding="0" cellspacing="0" width="650" bgcolor="#ffffff" style="margin: 0 auto; position: relative;">
    <tbody>
        <tr>
            <td style="text-align: right;">
                <img src="https://sbpvr.com/wp-content/themes/sbpvr/mail-templates/sales/red-gradient.jpg" style="width:399px;height:4px; float:right;">
                <br>
                <div style="display:block; padding-top: 8px; font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size: 20px; letter-spacing:7px; padding-right: 24px;">SALES</div>
            </td>
        </tr>
    </tbody>
</table>

<table cellpadding="0" cellspacing="0" width="650" bgcolor="#ffffff" style="margin: 0 auto; position: relative;">
    <tbody>
        <tr>
            <td style="padding-top: 40px; padding-left: 30px; padding-right: 30px;">

                {{SALES_TEMPLATE}}
                
                <a style="display: block;width: 100%;max-width: 100%;margin-right: auto;margin-left: auto;padding: 10px 0;border: 1px solid #a83644;border-radius: 4px;font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;background-color: #a83644;color: #fff;font-size: 20px;font-weight: 700;text-align: center;letter-spacing: 5px;text-decoration: none;" href="https://sbpvr.com/properties-sale/listings/" target="_blank">ALL PROPERTIES</a>
            </td>
        </tr>
    </tbody>
</table>

<!-- RENTALS -->


<table cellpadding="0" cellspacing="0" width="650" bgcolor="#ffffff" style="margin: 0 auto; position: relative;">
    <tbody>
        <tr>
            <td style="text-align: right; padding-top: 54px;">
                <img src="https://sbpvr.com/wp-content/themes/sbpvr/mail-templates/sales/green-gradient.jpg" style="width:399px;height:4px; float:right;">
                <br>
                <div style="display:block; padding-top: 8px; font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size: 20px; letter-spacing:7px; padding-right: 24px;">VACATION RENTALS</div>
            </td>
        </tr>
    </tbody>
</table>

<table cellpadding="0" cellspacing="0" width="650" bgcolor="#ffffff" style="margin: 0 auto; position: relative;">
    <tbody>
        <tr>
            <td style="padding-top: 40px; padding-left: 30px; padding-right: 30px;">

                {{RENTS_TEMPLATE}}
                
                <a style="display: block;width: 100%;max-width: 100%;margin-right: auto;margin-left: auto;padding: 10px 0;border: 1px solid #b2c346;border-radius: 4px;font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;background-color: #b2c346;color: #fff;font-size: 20px;font-weight: 700;text-align: center;letter-spacing: 5px;text-decoration: none; margin-bottom: 56px;" href="https://sbpvr.com/rentals/vacation-rentals/" target="_blank">VACATION RENTALS LIST</a>
            </td>
        </tr>
    </tbody>
</table>


<!-- Property Management -->

<table cellpadding="0" cellspacing="0" width="650" bgcolor="#ffffff" style="margin: 0 auto; position: relative;">
    <tbody>
        <tr>
            <td style="padding-top: 40px;padding-bottom: 40px;background-color: {{BOTTOM_B1_STYLE_TITLE_BG_COLOR}};font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align: center;letter-spacing: 3px;text-transform: uppercase;">
                <div style="font-size:20px;letter-spacing:3px; color: {{BOTTOM_B1_STYLE_TITLE_COLOR}};">{{BOTTOM_TITLE}}</div>
            </td>
        </tr>
    </tbody>
</table>

<table cellpadding="0" cellspacing="0" width="650" bgcolor="#ffffff" style="margin: 0 auto; position: relative;">
    <tbody>
        <tr>
            <td style="padding: 40px 20px 10px 20px; background-color: {{BOTTOM_B1_STYLE_LIST_BG_COLOR}};">

                <table cellpadding="0" cellspacing="0" style="margin-bottom: 35px;">
                    <tbody>
                        <tr>
                            <td style="padding-right: 0px; position:relative; width: 400px;">
                                {{BOTTOM_LIST}}
                            </td>
                            <td>
                                <a style="display:block; width: 250px; height: 140px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius: 3px;" href="{{PM_LINK}}" target="_blank">
                                    <img style="width:100%; height: auto" src="{{PM_IMAGE}}">
                                    <!--https://placehold.it/250x140-->
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
    </tbody>
</table>

<table cellpadding="0" cellspacing="0" width="650" bgcolor="#ffffff" style="margin: 0 auto; position: relative;">
    <tbody>
        <tr>
            <td style="position:relative;">
                {{BOTTOM_LIST_2}}
            </td>
        </tr>
    </tbody>
</table>
<table bgcolor="#1b4b69" cellpadding="0" cellspacing="0" width="100%" style="margin-top: 1px;">
    <tbody>
        <tr>
            <td style="height: 36px;">
                <table cellpadding="0" cellspacing="0" width="650" style="margin: 1px auto 0 auto;">
                    <tbody>
                        <tr>
                            <td style="text-align: center;">
                                <a style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;padding-right: 7px;padding-left: 7px;border-right: 1px solid #fff;color: #fff;font-size: 15px;text-decoration: none;" href="https://sbpvr.com/properties-sale/listings/" target="_blank">
                                    Properties for Sale
                                </a>
                                <a style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;padding-right: 7px;padding-left: 7px;border-right: 1px solid #fff;color: #fff;font-size: 15px;text-decoration: none;" href="https://sbpvr.com/rentals/vacation-rentals/" target="_blank">
                                    Vacation Rentals
                                </a>
                                <a style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;padding-right: 7px;padding-left: 7px;border-right: 1px solid #fff;color: #fff;font-size: 15px;text-decoration: none;" href="https://sbpvr.com/property-management/" target="_blank">
                                    Property Management
                                </a>
                                <a style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;padding-right: 7px;padding-left: 7px;border-right: 1px solid #fff;color: #fff;font-size: 15px;text-decoration: none;" href="https://sbpvr.com/contact-us/" target="_blank">
                                    Contact Us
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
    </tbody>
</table>

</td></tr></tbody></table>


</body>




