<body style="border:0;margin:0;padding:0;">

<table bgcolor="#1d679c" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td style="height:132px;" >
                <table width="650" cellpadding="0" cellspacing="0" width="100%" style="margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <a href="https://sbpvr.com" target="_blank" style="width:175px;margin-top: 22px;position:relative; display:block; margin:0 auto;">
                                    <img style="width:100%;" src="https://sbpvr.com/wp-content/themes/sbpvr/mail-templates/sales/sb-logo-white.png" >
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table bgcolor="#333333" cellpadding="0" cellspacing="0" width="100%" style="margin-top: 1px;">
    <tbody>
        <tr>
            <td style="height: 42px;">
                <table cellpadding="0" cellspacing="0" width="650" style="margin: 1px auto 0 auto;">
                    <tbody>
                        <tr>
                            <td style="width: 400px;text-align: right;">
                                <a style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;margin-right: 15px;margin-left: 15px;color: #fff;font-size: 18px;text-decoration: none;" href="https://sbpvr.com/properties-sale/listings/" target="_blank">    Properties for Sale
                                </a>
                                <a style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;margin-right: 15px;margin-left: 15px;color: #fff;font-size: 18px;text-decoration: none;" href="https://sbpvr.com/rentals/vacation-rentals/" target="_blank">    Vacation Rentals
                                </a>
                                <a style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;margin-right: 15px;margin-left: 15px;color: #fff;font-size: 18px;text-decoration: none;" href="http://fishingpvr.com/" target="_blank">
                                    Sportfishing
                                </a>
                            </td>
                            <td style="width:99px; text-align: right; padding-top:2px;">
                                <a style="background-color:#a83644;display:inline-block;height: 21px;margin-left: 6px;border-radius: 4px;width: 20px;" href="https://sbpvr.com/properties-sale/listings/" target="_blank"></a>
                                <a style="background-color:#b2c346;display:inline-block;height: 21px;margin-left: 6px;border-radius: 4px;width: 20px;" href="https://sbpvr.com/rentals/vacation-rentals/" target="_blank"></a>
                                <a style="background-color:#d7b144;display:inline-block;height: 21px;margin-left: 6px;border-radius: 4px;width: 20px;" href="https://sbpvr.com/property-management/" target="_blank"></a>
                                <a style="background-color:#97428b;display:inline-block;height: 21px;margin-left: 6px;border-radius: 4px;width: 20px;" href="http://fishingpvr.com/" target="_blank"></a>
                                &nbsp;&nbsp;   
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
    </tbody>
</table>

<table bgcolor="#f1f1f1" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td>

<table cellpadding="0" cellspacing="0" width="650" style="margin: 1px auto 0 auto; position:relative;">
    <tbody>
        <tr>
            <td style="width: 650px;">
                <a href="#" target="_blank" style="display:block; width: 100%; height: 100%;">
                    <img style="width:100%; height: auto;" src="https://sbpvr.com/wp-content/themes/sbpvr/mail-templates/sales/bg-demo.jpg" >
                </a>
                <img style="width:100%; height: auto;" src="https://sbpvr.com/wp-content/themes/sbpvr/mail-templates/sales/path.jpg">
            </td>
        </tr>
    </tbody>
</table>

<!-- SALES -->

<table cellpadding="0" cellspacing="0" width="650" bgcolor="#ffffff" style="margin: 0 auto; position: relative;">
    <tbody>
        <tr>
            <td style="text-align: right; padding-top: 45px;">
                <img src="https://sbpvr.com/wp-content/themes/sbpvr/mail-templates/sales/red-gradient.jpg" style="width:399px;height:auto; float:right;">
                <br><br>
                <span style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size: 20px; letter-spacing:7px;">SALES</span>
            </td>
        </tr>
    </tbody>
</table>

<table cellpadding="0" cellspacing="0" width="650" bgcolor="#ffffff" style="margin: 0 auto; position: relative;">
    <tbody>
        <tr>
            <td style="padding-top: 40px; padding-left: 30px; padding-right: 30px;">

                <table cellpadding="0" cellspacing="0" style="margin-bottom: 35px;">
                    <tbody>
                        <tr>
                            <td style="width: 280px; padding-right: 30px; position:relative;">
                                <a style="display:inline-block;width: 280px;height: 277px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius: 3px; overflow:hidden;" href="https://sbpvr.com">
                                    <img style="width:100%;height:auto;" src="https://placehold.it/312x309">
                                </a>
                            </td>
                            <td style="height: 278px;border-bottom: 1px solid #bebebe;">
                                <a style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;display: block;margin-bottom: 10px;color: #333;font-size: 20px;line-height: 25px;text-decoration: none;" href="https://sbpvr.com">Shangrila H2-12</a>

                                <div style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;display: block;margin-bottom: 2px;color: #333;font-size: 11px;line-height: 15px;text-decoration: none;">MARINA VALLARTA</div>
                                <div style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;display: block;margin-bottom: 2px;color: #333;font-size: 11px;line-height: 15px;text-decoration: none;">CONDO</div>

                                <p style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:18px; margin-top: 7px;margin-bottom: 11px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.&nbsp;</p>
                                <div style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;color: #1b4b69;font-size: 30px;font-weight: 700;letter-spacing: 4px;">$890,000</div>

                                <br>
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td style="width:50%; line-height:10px;">
                                                <div class="icon-box">
                                                    <img class="icon-img" src="https://sbpvr.com/wp-content/themes/sbpvr/mail-templates/sales/bed-icon.png">
                                                    <div style="display: inline-block;margin-left: 25px;color: #1b4b69;font-size: 20px;line-height: 12px;font-weight: 700;">2</div>
                                                </div>
                                                <br>
                                                <div class="icon-box"><img class="bath icon-img" src="https://sbpvr.com/wp-content/themes/sbpvr/mail-templates/sales/bath-icon.png">
                                                    <div style="display: inline-block;margin-left: 25px;color: #1b4b69;font-size: 20px;line-height: 12px;font-weight: 700;">2</div>
                                                </div>
                                            </td>
                                            <td style="text-align: right;">
                                                <a style="width: 101px; height: 33px; display: inline-block; margin-top:15px;" href="https://sbpvr.com">
                                                    <img style="width:100%;height: auto;" src="https://sbpvr.com/wp-content/themes/sbpvr/mail-templates/sales/view-red.jpg">
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                    </tbody>
                </table>

              
                
                <a style="display: block;width: 100%;max-width: 100%;margin-right: auto;margin-left: auto;padding: 10px 0;border: 1px solid #a83644;border-radius: 4px;font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;background-color: #a83644;color: #fff;font-size: 20px;font-weight: 700;text-align: center;letter-spacing: 5px;text-decoration: none;" href="https://sbpvr.com/properties-sale/listings/" target="_blank">ALL PROPERTIES</a>
            </td>
        </tr>
    </tbody>
</table>

<!-- RENTALS -->


<table cellpadding="0" cellspacing="0" width="650" bgcolor="#ffffff" style="margin: 0 auto; position: relative;">
    <tbody>
        <tr>
            <td style="text-align: right; padding-top: 60px;">
                <img src="https://sbpvr.com/wp-content/themes/sbpvr/mail-templates/sales/green-gradient.jpg" style="width:399px;height:auto; float:right;">
                <br><br>
                <span style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size: 20px; letter-spacing:7px;">VACATION RENTALS</span>
            </td>
        </tr>
    </tbody>
</table>

<table cellpadding="0" cellspacing="0" width="650" bgcolor="#ffffff" style="margin: 0 auto; position: relative;">
    <tbody>
        <tr>
            <td style="padding-top: 40px; padding-left: 30px; padding-right: 30px;">

                <table cellpadding="0" cellspacing="0" style="margin-bottom: 35px;">
                    <tbody>
                        <tr>
                            <td style="width: 280px; padding-right: 30px; position:relative;">
                                <a style="display:inline-block;width: 280px;height: 277px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius: 3px; overflow:hidden;" href="https://sbpvr.com">
                                    <img style="width:100%;height:auto;" src="https://placehold.it/312x309">
                                </a>
                            </td>
                            <td style="height: 278px;border-bottom: 1px solid #bebebe;">
                                <a style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;display: block;margin-bottom: 10px;color: #333;font-size: 20px;line-height: 25px;text-decoration: none;" href="https://sbpvr.com">Shangrila H2-12</a>

                                <div style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;display: block;margin-bottom: 2px;color: #333;font-size: 11px;line-height: 15px;text-decoration: none;">MARINA VALLARTA</div>
                                <div style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;display: block;margin-bottom: 2px;color: #333;font-size: 11px;line-height: 15px;text-decoration: none;">CONDO</div>

                                <p style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:18px; margin-top: 7px;margin-bottom: 11px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.&nbsp;</p>
                                <div style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;color: #1b4b69;font-size: 30px;font-weight: 700;letter-spacing: 4px;">$890,000</div>

                                <br>
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td style="width:50%; line-height:10px;">
                                                <div class="icon-box">
                                                    <img class="icon-img" src="https://sbpvr.com/wp-content/themes/sbpvr/mail-templates/sales/bed-icon.png">
                                                    <div style="display: inline-block;margin-left: 25px;color: #1b4b69;font-size: 20px;line-height: 12px;font-weight: 700;">2</div>
                                                </div>
                                                <br>
                                                <div class="icon-box"><img class="bath icon-img" src="https://sbpvr.com/wp-content/themes/sbpvr/mail-templates/sales/bath-icon.png">
                                                    <div style="display: inline-block;margin-left: 25px;color: #1b4b69;font-size: 20px;line-height: 12px;font-weight: 700;">2</div>
                                                </div>
                                            </td>
                                            <td style="text-align: right;">
                                                <a style="width: 101px; height: 33px; display: inline-block; margin-top:15px;" href="https://sbpvr.com">
                                                    <img style="width:100%;height: auto;" src="https://sbpvr.com/wp-content/themes/sbpvr/mail-templates/sales/view-green.jpg">
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                    </tbody>
                </table>

                <table cellpadding="0" cellspacing="0" style="margin-bottom: 35px;">
                    <tbody>
                        <tr>
                            <td style="width: 280px; padding-right: 30px; position:relative;">
                                <a style="display:inline-block;width: 280px;height: 277px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius: 3px; overflow:hidden;" href="https://sbpvr.com">
                                    <img style="width:100%;height:auto;" src="https://placehold.it/312x309">
                                </a>
                            </td>
                            <td style="height: 278px;border-bottom: 1px solid #bebebe;">
                                <a style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;display: block;margin-bottom: 10px;color: #333;font-size: 20px;line-height: 25px;text-decoration: none;" href="https://sbpvr.com">Shangrila H2-12</a>

                                <div style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;display: block;margin-bottom: 2px;color: #333;font-size: 11px;line-height: 15px;text-decoration: none;">MARINA VALLARTA</div>
                                <div style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;display: block;margin-bottom: 2px;color: #333;font-size: 11px;line-height: 15px;text-decoration: none;">CONDO</div>

                                <p style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:18px; margin-top: 7px;margin-bottom: 11px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.&nbsp;</p>
                                <div style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;color: #1b4b69;font-size: 30px;font-weight: 700;letter-spacing: 4px;">$890,000</div>

                                <br>
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td style="width:50%; line-height:10px;">
                                                <div class="icon-box">
                                                    <img class="icon-img" src="https://sbpvr.com/wp-content/themes/sbpvr/mail-templates/sales/bed-icon.png">
                                                    <div style="display: inline-block;margin-left: 25px;color: #1b4b69;font-size: 20px;line-height: 12px;font-weight: 700;">2</div>
                                                </div>
                                                <br>
                                                <div class="icon-box"><img class="bath icon-img" src="https://sbpvr.com/wp-content/themes/sbpvr/mail-templates/sales/bath-icon.png">
                                                    <div style="display: inline-block;margin-left: 25px;color: #1b4b69;font-size: 20px;line-height: 12px;font-weight: 700;">2</div>
                                                </div>
                                            </td>
                                            <td style="text-align: right;">
                                                <a style="width: 101px; height: 33px; display: inline-block; margin-top:15px;" href="https://sbpvr.com">
                                                    <img style="width:100%;height: auto;" src="https://sbpvr.com/wp-content/themes/sbpvr/mail-templates/sales/view-green.jpg">
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <a style="display: block;width: 100%;max-width: 100%;margin-right: auto;margin-left: auto;padding: 10px 0;border: 1px solid #b2c346;border-radius: 4px;font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;background-color: #b2c346;color: #fff;font-size: 20px;font-weight: 700;text-align: center;letter-spacing: 5px;text-decoration: none;" href="https://sbpvr.com/properties-sale/listings/" target="_blank">VACATION RENTALS LIST</a>

                <br><br><br>
            </td>
        </tr>
    </tbody>
</table>


<!-- Property Management -->

<table cellpadding="0" cellspacing="0" width="650" bgcolor="#ffffff" style="margin: 0 auto; position: relative;">
    <tbody>
        <tr>
            <td style="padding-top: 40px;padding-bottom: 40px;background-color: #d7b144;font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align: center;letter-spacing: 3px;text-transform: uppercase;">
                <div style="font-size:20px;letter-spacing:3px; color: white;">PROPERTY MANAGEMENT SERVICES</div>
            </td>
        </tr>
    </tbody>
</table>

<table cellpadding="0" cellspacing="0" width="650" bgcolor="#ffffff" style="margin: 0 auto; position: relative;">
    <tbody>
        <tr>
            <td style="padding: 40px 20px 10px 20px; background-color: #333;">

                <table cellpadding="0" cellspacing="0" style="margin-bottom: 35px;">
                    <tbody>
                        <tr>
                            <td style="padding-right: 0px; position:relative; width: 400px;">
                                <a style="display: block;margin-bottom: 8px;font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;color: #fff;font-size: 12px;font-weight: 400;letter-spacing: 2px;text-decoration: none;text-transform: uppercase;" href="https://sbpvr.com/property-management/#cleaning" target="_blank">
                                    CLEANING SERVICE AND MAINTENANCE PROGRAM
                                </a>
                                <a style="display: block;margin-bottom: 8px;font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;color: #fff;font-size: 12px;font-weight: 400;letter-spacing: 2px;text-decoration: none;text-transform: uppercase;" href="https://sbpvr.com/property-management/#maintenance" target="_blank">
                                    REPAIRS AND MAINTENANCE SERVICE
                                </a>
                                <a style="display: block;margin-bottom: 8px;font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;color: #fff;font-size: 12px;font-weight: 400;letter-spacing: 2px;text-decoration: none;text-transform: uppercase;" href="https://sbpvr.com/property-management/#bills" target="_blank">
                                    PAYMENT OF BILLS
                                </a>
                                <a style="display: block;margin-bottom: 8px;font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;color: #fff;font-size: 12px;font-weight: 400;letter-spacing: 2px;text-decoration: none;text-transform: uppercase;" href="https://sbpvr.com/property-management/#accounting" target="_blank">
                                    ACCOUNTING SERVICES
                                </a>
                                <a style="display: block;margin-bottom: 8px;font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;color: #fff;font-size: 12px;font-weight: 400;letter-spacing: 2px;text-decoration: none;text-transform: uppercase;" href="https://sbpvr.com/property-management/#concierge" target="_blank">
                                    CONCIERGE SERVICES
                                </a>
                                <a style="display: block;margin-bottom: 8px;font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;color: #fff;font-size: 12px;font-weight: 400;letter-spacing: 2px;text-decoration: none;text-transform: uppercase;" href="https://sbpvr.com/property-management/#insurance" target="_blank">
                                    COND INSURANCE SERVICES
                                </a>
                            </td>
                            <td>
                                <a style="overflow: hidden; width: 250px; height: 140px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius: 3px;" href="https://sbpvr.com">
                                    <img src="https://placehold.it/250x140">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
    </tbody>
</table>

<table cellpadding="0" cellspacing="0" width="650" bgcolor="#ffffff" style="margin: 0 auto; position: relative;">
    <tbody>
        <tr>
            <td style="position:relative;">
                <div class="sportfishing">
                    <div style="width:650px;height:216px;">
                        <a style="position:relative; display:block;width:650px;height:216px;" href="http://fishingpvr.com/" target="_blank">
                            <img style="width:100%;" src="https://sbpvr.com/wp-content/themes/sbpvr/mail-templates/sales/yate.jpg">
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<table bgcolor="#1b4b69" cellpadding="0" cellspacing="0" width="100%" style="margin-top: 1px;">
    <tbody>
        <tr>
            <td style="height: 36px;">
                <table cellpadding="0" cellspacing="0" width="650" style="margin: 1px auto 0 auto;">
                    <tbody>
                        <tr>
                            <td style="text-align: center;">
                                <a style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;padding-right: 7px;padding-left: 7px;border-right: 1px solid #fff;color: #fff;font-size: 15px;text-decoration: none;" href="https://sbpvr.com/properties-sale/listings/" target="_blank">
                                    Properties for Sale
                                </a>
                                <a style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;padding-right: 7px;padding-left: 7px;border-right: 1px solid #fff;color: #fff;font-size: 15px;text-decoration: none;" href="https://sbpvr.com/rentals/vacation-rentals/" target="_blank">
                                    Vacation Rentals
                                </a>
                                <a style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;padding-right: 7px;padding-left: 7px;border-right: 1px solid #fff;color: #fff;font-size: 15px;text-decoration: none;" href="https://sbpvr.com/property-management/" target="_blank">
                                    Property Management
                                </a>
                                <a style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;padding-right: 7px;padding-left: 7px;border-right: 1px solid #fff;color: #fff;font-size: 15px;text-decoration: none;" href="https://sbpvr.com/contact-us/" target="_blank">
                                    Contact Us
                                </a>
                                <a style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;padding-left: 7px;color: #fff;font-size: 15px;text-decoration: none;" href="https://sbpvr.com">
                                    Unsubscribe
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
    </tbody>
</table>

</td></tr></tbody></table>


</body>




