
<table cellpadding="0" cellspacing="0" style="margin-bottom: 56px;">
    <tbody>
        <tr>
            <td style="width: 280px; padding-right: 30px; position:relative;">
                <a style="display:inline-block;width: 280px;height: 277px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius: 3px; overflow:hidden;" href="{{PROPERTY_LINK}}">
                    <img style="width:100%;height:auto;" src="{{PROPERTY_IMAGE}}">
                    <!-- https://placehold.it/312x309 -->
                </a>
            </td>
            <td style="height: 278px;border-bottom: 1px solid #bebebe;">
                <a style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;display: block;margin-bottom: 10px;color: #333;font-size: 20px;line-height: 25px;text-decoration: none;" href="{{PROPERTY_LINK}}">{{PROPERTY_TITLE}}</a>

                <div style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;display: block;margin-bottom: 2px;color: #333;font-size: 11px;line-height: 15px;text-decoration: none;">{{PROPERTY_LOCATION}}</div>
                <div style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;display: block;margin-bottom: 2px;color: #333;font-size: 11px;line-height: 15px;text-decoration: none;">{{PROPERTY_TYPE}}</div>

                <p style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:18px; margin-top: 7px;margin-bottom: 11px;">{{PROPERTY_DESCRIPTION}}</p>
                <div style="font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;color: #1b4b69; color:#ffffff; font-size: 30px;font-weight: 700;letter-spacing: 2px;">&nbsp; <!--{{PROPERTY_PRICE}}--></div>

                <br>
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td style="width:50%; line-height:10px;">
                                {{DETAILS}}
                            </td>
                            <td style="text-align: right;">
                                <a style="width: 101px; height: 33px; display: inline-block; margin-top:15px;" href="{{PROPERTY_LINK}}">
                                    <img style="width:100%;height: auto;" src="https://sbpvr.com/wp-content/themes/sbpvr/mail-templates/sales/view-red.jpg">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
    </tbody>
</table>


