.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: hsla(0, 0%, 100%, .93);
  box-shadow: 1px 1px 3px 0 rgba(42, 67, 86, .3);
}

.navbar-container {
  display: block;
  width: 1140px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.navbar-brand {
  width: 300px;
  margin-top: 9px;
}

.navbar-brand.footer-brand {
  display: block;
  margin-top: 0px;
  float: none;
}

.nav-link.w--current {
  color: #1d1e1f;
  font-weight: 700;
}

.body {
  font-family: 'Open Sans', sans-serif;
  color: #1d1e1f;
}

.slider {
  width: 100%;
  height: auto;
  background-color: transparent;
  box-shadow: 1px 1px 3px 0 rgba(42, 67, 86, .1);
}

.slider-mask {
  width: 100%;
  height: auto;
}

.slide {
  width: 100%;
  height: auto;
}

.slide-img {
  width: 100%;
  height: auto;
}

.intro-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1140px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 140px 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
  max-width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro-left {
  width: 120px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.intro-right {
  padding-left: 40px;
}

.intro-text {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 300;
  text-align: justify;
}

.intro-text.last {
  margin-bottom: 0px;
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.services-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.services-img {
  width: 50%;
  height: auto;
}

.div-block {
  width: 50%;
  height: 100%;
}

.services-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-right: 25px;
  padding-left: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.service-title {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-right: 64px;
  padding-bottom: 10px;
  background-position: 100% 50%;
  background-size: 35px;
  background-repeat: no-repeat;
  font-size: 30px;
  line-height: 1em;
  font-weight: 600;
  text-align: center;
}

.services-title-wrapper {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid #333;
  text-align: center;
}

.services-right-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.services-right-inner {
  width: 600px;
  max-width: 100%;
}

.services-list {
  margin-bottom: 0px;
  padding-left: 20px;
  list-style-type: square;
}

.services-list-item {
  width: 50%;
  margin-bottom: 12px;
  padding-right: 35px;
  float: left;
  font-size: 16px;
}

.clients-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 140px 25px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.clients-inner {
  width: 800px;
  max-width: 100%;
}

.clients-title {
  margin-top: 0px;
  margin-bottom: 120px;
  font-size: 27px;
  line-height: 1.4em;
  font-weight: 600;
  text-align: center;
}

.clients-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.client-item {
  width: 25%;
  text-align: center;
}

.client-img {
  width: 90%;
}

.clients-slogan {
  display: block;
  max-width: 500px;
  margin: 0px auto 20px;
  font-size: 27px;
  line-height: 1.4em;
  font-weight: 600;
  text-align: center;
}

.clients-slogan-2 {
  display: block;
  max-width: 350px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  text-align: center;
}

.contact {
  display: block;
  width: 1000px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 50px 25px;
}

.input {
  height: 60px;
  margin-bottom: 20px;
  border: 1px solid #1d1e1f;
}

.input:hover {
  border-color: #1d1e1f;
}

.input:active {
  border-color: #1d1e1f;
}

.input-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.input-separator {
  width: 20px;
  height: 1px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.im-interest-call {
  display: block;
  max-width: 500px;
  margin: 30px auto;
  font-size: 27px;
  line-height: 1.4em;
  font-weight: 600;
  text-align: center;
}

.checkbox-list-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.checkbox-list-left {
  width: 400px;
  max-width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.checkbox-list-right {
  width: 300px;
  max-width: 100%;
}

.checkbox-list-item {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.4em;
}

.checkbox-input {
  margin-right: 25px;
}

.label {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.4em;
}

.submit {
  display: block;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 80px;
  background-color: #244056;
  font-size: 16px;
  line-height: 1em;
}

.checkbox-list-outter-wrapper {
  display: block;
  width: 800px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.form {
  display: block;
  width: 900px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  display: block;
  width: 1100px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 35px 25px;
  border-top: 1px solid #2a4356;
  border-bottom: 1px solid #2a4356;
  color: #244056;
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 600;
  background: none;
}

.footer-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-col {
  width: 33.333%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.footer-col.center {
  text-align: center;
}

.footer-col.right {
  text-align: right;
}

.footer-link {
  color: #244056;
  text-decoration: underline;
  margin-bottom: 0px;
}

.footer-copyright {
  padding: 15px 25px;
  color: #244056;
  font-size: 12px;
  text-align: center;
}

.copyright-link {
  color: #244056;
}

.link-phone {
  color: #244056;
  text-decoration: none;
}

.slider-intro-main-wrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
}

.slider-intro-wrapper {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1100px;
  height: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-intro-container {
  margin-left: 150px;
}

.text-block {
  color: #393939;
  font-size: 30px;
  line-height: 1.2em;
  font-weight: 600;
}

.intro-bubbles-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.intro-bubble {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.intro-bubble.red {
  background-color: #c54134;
}

.intro-bubble.green {
  background-color: #63a251;
}

.intro-bubble.orange {
  background-color: #d17737;
}

.intro-bubbles-main-wrapper {
  display: block;
  width: 110px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

html.w-mod-js *[data-ix="bubble"] {
  opacity: 0;
  -webkit-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  transform: translate(0px, -20px);
}

html.w-mod-js *[data-ix="bubble-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  transform: translate(0px, -20px);
}

html.w-mod-js *[data-ix="bubble-3"] {
  opacity: 0;
  -webkit-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  transform: translate(0px, -20px);
}

html.w-mod-js *[data-ix="bubble-end"] {
  opacity: 0;
  -webkit-transform: translate(0px, 10px) scale(0.9, 0.9);
  -ms-transform: translate(0px, 10px) scale(0.9, 0.9);
  transform: translate(0px, 10px) scale(0.9, 0.9);
}

.w-form-done{
    display: none;
    margin-top: 30px;
    background: white;
    color: #244157;
    font-weight: bold;
    font-size: 16px;
}

@media (max-width: 991px) {
  .navbar-brand {
    width: 200px;
  }
  .navbar-brand.footer-brand {
    display: inline-block;
  }
  .nav-menu {
    background-color: rgba(88, 148, 193, .9);
  }
  .nav-link {
    padding-right: 39px;
    color: #fff;
    text-align: right;
  }
  .nav-link.w--current {
    color: #fff;
  }
  .menu-button {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    font-size: 25px;
  }
  .menu-button.w--open {
    background-color: transparent;
    color: #1d1e1f;
  }
  .body {
    padding-top: 65px;
  }
  .intro-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .intro-left {
    width: 80px;
  }
  .services-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .services-img {
    width: 100%;
  }
  .services-right {
    width: 100%;
    padding-top: 50px;
  }
  .clients-wrapper {
    padding-top: 40px;
  }
  .clients-title {
    margin-bottom: 40px;
  }
  .checkbox-list-left {
    width: 350px;
  }
  .checkbox-list-right {
    width: 350px;
  }
  .submit {
    margin-top: 41px;
  }
  .footer-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-col {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  .footer-col.right {
    text-align: center;
  }
  .text-block {
    font-size: 25px;
  }
  .intro-bubble {
    width: 25px;
    height: 25px;
  }
  .intro-bubbles-main-wrapper {
    width: 90px;
  }
}

@media (max-width: 767px) {
  .service-title {
    background-size: 25px;
    font-size: 22px;
  }
  .services-list {
    padding-left: 40px;
  }
  .services-list-item {
    width: 100%;
    margin-bottom: 4px;
    font-size: 14px;
  }
  .clients-title {
    font-size: 22px;
  }
  .clients-list {
    margin-bottom: 0px;
  }
  .clients-slogan {
    font-size: 22px;
  }
  .im-interest-call {
    font-size: 22px;
  }
  .checkbox-list-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .checkbox-list-left {
    width: 100%;
  }
  .checkbox-list-right {
    width: 100%;
  }
  .checkbox-list-item {
    margin-bottom: 7px;
    padding-left: 40px;
  }
  .submit {
    padding: 12px 60px;
  }
  .footer {
    font-size: 14px;
  }
  .slider-intro-container {
    margin-left: 50px;
  }
  .text-block {
    font-size: 20px;
  }
}

@media (max-width: 479px) {
  .navbar-container {
    padding-right: 5px;
    padding-left: 5px;
  }
  .navbar-brand {
    top: 3px;
    width: 130px;
  }
  .navbar-brand.footer-brand {
    width: 180px;
  }
  .menu-button {
    padding-right: 10px;
    padding-left: 10px;
  }
  .intro-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .intro-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .intro-left {
    width: 100px;
    margin-bottom: 25px;
  }
  .intro-right {
    padding-left: 0px;
  }
  .services-right {
    padding-top: 25px;
  }
  .service-title {
    font-size: 20px;
  }
  .services-title-wrapper {
    margin-bottom: 20px;
  }
  .services-list {
    padding-left: 20px;
  }
  .services-list-item {
    padding-right: 0px;
  }
  .clients-title {
    font-size: 20px;
  }
  .client-item {
    width: 50%;
  }
  .clients-slogan {
    font-size: 20px;
  }
  .input-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .input-separator {
    display: none;
  }
  .checkbox-list-item {
    padding-left: 20px;
  }
  .checkbox-input {
    margin-right: 10px;
  }
  .slider-intro-wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .slider-intro-container {
    margin-left: 0px;
  }
  .text-block {
    font-size: 14px;
  }
  .intro-bubble {
    width: 20px;
    height: 20px;
  }
  .intro-bubbles-main-wrapper {
    width: 69px;
  }
}