.w-slider-dot.w-active{
  border: 1px solid #fff;
}
.w-slider-dot{
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
}
.result-item:nth-child(3n){
  margin-right: 0;
}
.newsletter-success {
  display: none;
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
  color: #fff;
}
.video-3d {
  width: 80%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0 auto;
}
.v2-features-modal-bg, .v2-contact-agent-modal-bg, .modal-bg{
  margin-top: -69px;
}
p a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.w-form-done, .w-form-fail{
  text-align: center;
  background: none;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
}
.form-block-2{
  margin-bottom: 30px;
}
.v2-img-property-list img, .image-5 img{
  width: 100%;
  opacity: 0;
}
.v2-property-agent{
  position: relative;
}
.image-5, .v2-img-property-list {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.v2-take-me{
  display: none;
}
.v2-container-iframe-video{
  width: 100%;
}
.v2-modal-developments{
  display: flex;
}
.checkbox-container{
  text-align: left;
}
.checkbox-container .checkbox{
  font-size: inherit;
}
.sbflex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1430px;
  max-width: 100%;
  margin-top: 50px;
  padding-top: 50px;
  margin-bottom: 50px;
  padding-right: 25px;
  padding-left: 25px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;

  margin: 0 auto;
}

.sbflex-list {
  width: 900px;
  max-width: 70%;
}

.sbflex-sidebar {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-btns{
  display: flex;
  justify-content: space-between;

  display: none;
}

.hero-btn-home{
  width: 32%;
  padding: 15px 0px;
}

.sb2-hide-label {
  display: none;
}

.sb2-select-mls {
  height: 46px;
  margin-bottom: 0px;
  font-weight: 700;
}

.sb2-title-search-mls {
  margin-right: 10px;
  font-size: 17px;
}

.sb2-search-mls {
  width: 15%;
  font-size: 15px;
}
.sb2-search-mls.in-sidebar{
  width: 100%;
  background: #333333;
  font-weight: bold;
  font-size: 18px;
  padding: 15px;
  margin-top: 15px;
}

.sb2-cont-select-mls select{
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  color: #333333;
  border: 1px solid #ccc;
}
.sb2-cont-select-mls.in-sidebar{
  width: 100%;
  margin-bottom: 5px;
}

.sb2-cont-select-mls{
  width: 13%;
}

.sb2-mls-search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #030000;
  color: #fff;
}
.sb2-mls-search-sidebar{
  width: 90%;
  margin-left: auto;
  padding: 20px;
  border: 1px solid #999999;
}
.sb2-mls-search-sidebar h3{
  text-align: center;
  margin-top: 0;
}

.sb2-input {
  height: 46px;
  margin-bottom: 0px;
  font-weight: 700;
}

.sb2-cont-search-mls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  position: absolute;
  top: 45%;
  max-width: 100%;
}

.sb2-btn-close {
  position: absolute;
  right: 15px;
  top: 25px;
  cursor: pointer;
}
.sb2-btn-close.mobile{
  display: none;
}

.sb2-btn-close img{
  width: 30px;
}

.sb2-mls-search{
  width: 100%;
}

/** flex css overrides **/
.flexmls_connect__sr_matches_count{
  font-size: 22px;
}
.flexmls_connect__sr_matches{
  font-size: 17px;
}
.flexmls_toggle-view{
  display: none;
}
.flexmls_connect_select.flex_orderby{
  width: 150px;
}
.flexmls_connect__sr_view_options{
  position: relative;
  top: -5px;
  margin-bottom: 10px;
}
.flexmls_connect__sr_view_options select{
  border: 0 !important;
  outline: 2px solid #333 !important;
  background-color: white !important;
  font-size: 16px;
}
.flexmls_connect__sr_divider{
  padding-top: 5px;
  background-color: #0c1218;
}

.flexmls_connect__sr_result{
  position: relative;
}
.flexmls_connect__sr_result .flexmls_connect__sr_price{
  position: absolute;
  right: 0;
  top: 0px;
  font-weight: bold;
  font-size: 30px;
}
.flexmls_connect__sr_result .flexmls_connect__sr_address{
  padding-right: 200px;
}
.flexmls_connect__sr_result .flexmls_connect__sr_address a{
  color: #0098FF;
}
.flexmls_connect__sr_result .flexmls_connect__sr_address a:hover{
  text-decoration: none;
}
.flexmls_connect__sr_result .flexmls_connect__sr_listing_facts{
  border-top: 0;
}
div.flexmls_connect__zebra:nth-child(odd), .flexmls_connect__zebra{
  background: none;
}
.flexmls_connect__sr_listing_facts .flexmls_connect__zebra{
  padding: 0px 4px;
}
.flexmls_connect__sr_listing_facts .flexmls_connect__zebra:nth-child(6),
.flexmls_connect__sr_listing_facts .flexmls_connect__zebra:nth-child(7){
  display: none;
}
.photo_click.flexmls_connect__sr_asset_link{
  display: none !important;
}
.video_click.flexmls_connect__sr_asset_link{
  display: none !important;
}
.flexmls_connect__sr_result img{
  padding: 0px;
  border: 1px solid #199aff;
}
.flexmls_connect__sr_details_buttons button{
  border-radius: 0;
  border-color: #0098ff;
  color: #333;
  font-size: 14px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  width: 45%;
}
.flexmls_connect__sr_details_buttons button:nth-child(2){
  float: right;
  margin-right: 0px;
}
.flexmls_connect__sr_details_buttons button:hover{
  background: #0098FF;
  color: white;
}
.flexmls_connect__sr_listing_facts{
  font-size: 16px;
}
.flexmls_connect__sr_idx img.flexmls_connect__badge{
  float: none !important;
  width: 50px;
  top: 5px;
  margin-right: 5px;
}
.flexmls_connect__sr_idx{
  display: inline-block;
  margin-bottom: 10px;
}

.flexmls_connect__sr_result.last{
  border: 0 !important;
}

.flexmls_connect__sr_pagination a{
  color: #3998EC;
}
.flexmls_connect__sr_pagination a:hover{
  text-decoration: none;
}
.flexmls_connect__sr_pagination span{
  color: #333;
}
.photo_click.flexmls_connect__ld_larger_photos_link{
  margin-left: 6px;
}
.photo_click.flexmls_connect__ld_larger_photos_link,
.flexmls_connect__sr_pagination button{
  border-radius: 0;
  border-color: #0098ff;
  color: #333;
  font-size: 14px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.photo_click.flexmls_connect__ld_larger_photos_link:hover,
.flexmls_connect__sr_pagination button:hover{
  background: #0098FF;
  color: white;
}
.flexmls_connect__idx_disclosure_text.flexmls_connect__disclaimer_text{
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sbflex-sidebar .widget.widget_fmcsearch{
  list-style: none;
}

.flexmls_connect__search.flexmls_connect__search_new_vertical{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
  font-family: Raleway, sans-serif !important;

  border: 1px solid #333;
  border-radius: 0 !important;
  display: inline-block;
  float: right;
  width: 90%;
  max-width: 100% !important;
}
.flexmls_connect__search_new_title{
  font-family: Raleway, sans-serif !important;
  margin-bottom: 15px;
}

.flexmls_connect__search_new_submit{
  border-radius: 0 !important;
  border-color: #333 !important;
  font-size: 16px !important;
}
.flexmls_connect__search_new_links a{
  display: none;
}


#flexmls_connect__cboxOverlay{
  background: #333;
}
/* removes flex popup borders */
#flexmls_connect__cboxTopLeft,
#flexmls_connect__cboxTopCenter,
#flexmls_connect__cboxTopRight,
#flexmls_connect__cboxBottomLeft,
#flexmls_connect__cboxBottomCenter,
#flexmls_connect__cboxBottomRight,
#flexmls_connect__cboxMiddleLeft,
#flexmls_connect__cboxMiddleRight{
  background: none;
}

.flexmls_connect__schedule_showing_form,
.flexmls_connect__contact_form{
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 30px 30px 30px;
}
.flexmls_connect__schedule_showing_form h1,
.flexmls_connect__contact_form h1{
  font-size: 25px;
  text-align: center;
}
.flexmls_connect__schedule_showing_form label,
.flexmls_connect__contact_form label {
  display: inline-block;
  font-size: 16px;
  text-align: right;
}
.flexmls_connect__schedule_showing_table input[type="submit"]{
  border-radius: 0;
  border-color: #333;
  background: #333;
  color: #fff;
  font-size: 16px;
  margin-top: 15px;
  padding: 10px;
}
.flexmls_connect__schedule_showing_table td{
  vertical-align: top;
}
.flexmls_connect__schedule_showing_form input,
.flexmls_connect__contact_form input{
  padding: 4px 10px;
  box-sizing: border-box;
}
.flexmls_connect__schedule_showing_form input,
.flexmls_connect__contact_form input,
.flexmls_connect__schedule_showing_form textarea,
.flexmls_connect__contact_form textarea{
  display: block;
  width: 100% !important;
  font-size: 14px;
}

.flexmls_connect__ld_button_group button{
  border-radius: 0;
  border-color: #0098ff;
  color: #333;
  font-size: 14px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.flexmls_connect__ld_button_group button:hover{
  background: #0098FF;
  color: white;
}

.flexmls_connect__idx_disclosure_text{
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.4em;
  margin-bottom: 30px;
}
.flexmls_connect__idx_disclosure_text img{
  padding-bottom: 5px;
  width: 60px;
  height: auto;
  margin-bottom: 5px;
}

.v2-item-submenu{
  text-transform: uppercase;
  padding: 10px 0px;
}

.w-dropdown-list {
  background: #11191e;
}
.v2-contact-form-input-agent, .v2-contact-form-input-lg-agent{
  color: #fff;
}
.v2-container-form-agent{
  flex-direction: column;
}
.btn-close-form-agent, .v2-close-modal, .v2-btn-search-mobil, .btn-close-search-mobil{
  cursor: pointer;
}
.v2-agent-properties-text{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-breadcrumbs-white{
  font-weight: 300;
}
.property-detail-description .description{
  width: 100%;
}
.breadcrum-section-white a:last-child{
  margin-right: 2px;
  margin-left: 2px;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  text-decoration: none;
}
.breadcrum-section-black a:last-child {
  margin-right: 2px;
  margin-left: 2px;
  color: #13191d;
  font-size: 10px;
  font-weight: 600;
  text-decoration: none;
}
.link-breadcrumbs-black {
  margin-right: 2px;
  margin-left: 2px;
  color: #13191d;
  font-size: 10px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}
.v2-label-sold{
  background: #e02020;
  color: #fff;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 20px;
}
.v2-property-reduced{
  display: block;
  width: 100%;
  padding: 5px;
  text-align: right;
}
.property-gallery-slide{
  display: none;
}
.v2-features-modal{
  display: none;
}
.v2-content-modal{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.v2-title-modal{
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}
.features-popup-list{
  display: flex;
  flex-wrap: wrap;
}
.property-interest{
  background: #000;
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
}
.v2-contact-agent-modal-bg, .v2-features-modal-bg{
  position: fixed;
  display: none;
  overflow: visible;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .54), rgba(0, 0, 0, .54));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .54), rgba(0, 0, 0, .54));
  z-index: 9999;
}
.sb2-btn-clean{
  text-decoration: none;
  font-weight: bold;
  color: #3997ed;
}
.v2-contact-form h3{
  text-align: center;
}
.development-address-map-black-desktop .text-block-2{
  margin-right: 10px;
}
.v2-text-prices-change-rent{
  margin-top: 10px;
}
.result-items{
  position: relative;
  overflow: auto;
}
.load-properties-mobile{
  display: none;
}
.nav-link-2{
  text-transform: uppercase;
}
.w-nav-link.w--current{
  color: #000;
  background-color: #fff;
}
.w-dropdown-link.w--current{
  color: #ffffff;
  background-color: #283c48;
}
/*********/
/* MAP STYLES */

.sbmap-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: none;
    top: 0;
    left: 0;
    z-index: 9999999;
    overflow: hidden;
}

.sbmap-search-wrapper {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #030000;
  z-index: 10;
}

.sbmap-search-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1430px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 12px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 15px;
}

.sbmap-search-btn {
  width: 250px;
  height: 40px;
  max-width: 100%;
  margin-right: 25px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 1px solid #F44336;
  background-color: #F44336;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}
.sbmap-search-btn.disabled {
  background-color: transparent;
  color: #F44336;
}

/*.sbmap-search-btn.disabled:hover{
  border: 1px solid #F44336;
  color: #fff;
  background-color: #F44336
}*/

.sbmap-search-btn-rent{
    background-color: #0098ff;
    border: 1px solid #0098ff;
}
.sbmap-search-btn-rent.disabled{
    color: #0098ff;
}

/*.sbmap-search-btn-rent.disabled:hover{
  border: 1px solid #0098ff;
  color: #fff;
  background-color: #0098ff
}*/

.sbmap-search-btn-devs{
    background-color: #0097A7;
    border: 1px solid #0097A7;
}
.sbmap-search-btn-devs.disabled{
    color: #0097A7;
}
/*.sbmap-search-btn-devs.disabled:hover{
  border: 1px solid #0097A7;
  color: #fff;
  background-color: #0097A7
}*/


/*.sbmap-search-btn.disabled:hover {
  background-color: #0098ff;
  color: #fff;
}*/

.sbmap-search-form {
  display: inline-block;
  width: 100%;
}

.sbmap-search-form-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10px;
  max-width: 100%;
  float: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sbmap-search-form-input {
  margin-bottom: 0px;
}

.sbmap-search-form-submit {
  background-color: #1d9afb;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  font-size: 13px;
  padding: 0 15px;
}

.sbmap-search-form-submit:hover {
  background-color: #1982d3;
}

.sbmap-main-wrapper {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.sbmap-close {
  margin-left: 30px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: transparent;
  font-size: 20px;
  line-height: 1em;
  font-weight: 700;
}
.sbmap-close-mobile{
    position: absolute;
    top: 0;
    right: 0;
}

.mapInnerImgWrapper{
    margin-top: 5px;
    margin-bottom: 10px;
}
.mapInnerImgWrapper a{
    display: inline-block;
}
.mapInnerImgWrapper a img{
    max-width: 100%;
    width: 100%;
}
.mapInnerTitle{
    color: #0c1218;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.3em;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}
.mapInnerDescription{
    margin-bottom: 10px;
}
.mapInnerPrice{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
}

.mapColorCircle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: 20px;
    bottom: 17px;
}
.mapColorCircle.property{
    background: #f44233;
}
.mapColorCircle.rent{
    background: #0099ff;
}

/* END MAP STYLES */
.prop-search {
  width: 100%;
  padding-right: 60px;
  padding-bottom: 50px;
  padding-left: 60px;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.property-input-container {
  width: 100%;
  height: 45px;
  margin-bottom: 30px;
  border: 1px solid #fff;
}
.property-input {
  width: 100%;
  height: 45px;
  padding-bottom: 12px;
  padding-left: 30px;
  border-style: none;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  line-height: 1em;
  font-style: italic;
}
.properties-down-arrow {
  width: 40px;
  margin-bottom: 20px;
  padding: 10px;
}
.properties-down-arrow-container {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
}
.search-select {
  border-radius: 0px;
}
.property-select-container {
  position: relative;
  margin-bottom: 30px;
}
.property-select-button {
  width: 100%;
  height: 45px;
  padding-top: 11px;
  padding-left: 30px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}
.select-options-container {
  position: absolute;
  top: 46px;
  z-index: 30;
  display: none;
  overflow: auto;
  width: 100%;
  height: 250px;
  border-style: none solid solid;
  border-width: 1px;
  border-color: #fff;
  background-color: #0c1218;
}
.property-select-option {
  width: 100%;
  padding-left: 30px;
  background-color: #0c1218;
  font-size: 16px;
}
.property-select-option:hover {
  background-color: #338dd0;
}
.property-select-option:focus {
  background-color: #338dd0;
}
.w-select{
  background-image: none;
  border: 0;
  color: #fff;
}
#properties-loader{
    width: 100%;
    text-align: center;
    padding: 20px;
    opacity: 0;
    filter: alpha(opacity =0);
}
#properties-not-found, #load-properties-mobile{
    width: 100%;
    text-align: center;
    padding: 20px;
    display: none;
}
#load-properties-mobile{
    display: none;
    text-decoration: none;
}
.properties-loader-container, #properties-not-found > div, #load-properties-mobile > div{
    display: block;
    background: #0c1218;
    color: white;
    font-size: 14px;
    padding: 10px;
}
.properties-loader-container img{
    width: 25px;
    margin-left: 10px;
}
.select-arrow {
  position: absolute;
  top: 18px;
  right: 15px;
  z-index: 0;
  width: 16px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.select-arrow.open {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.property-selected-option {
  position: absolute;
  left: 30px;
  top: 9px;
  display: none;
}

.property-default-option {
  display: block;
}
.property-slider-container {
  margin-bottom: 30px;
  padding-bottom: 30px;
  color: #fff;
}

.property-search-hidden-input {
  display: none;
}

.property-slider-label {
  font-size: 16px;
  font-weight: 400;
}
.v2-container-specs{
  display: flex;
  align-items: center;
}
@media (max-width: 991px){
  .result-item:nth-child(2n){
    margin-right: 0;
  }
  .result-item:nth-child(3n){
    margin-right: 3%;
  }
  .v2-modal-developments{
    flex-direction: column-reverse;
  }
  .v2-container-iframe-video {
    width: 80%;
    height: 380px;
    margin-bottom: 50px;
  }
  .similar-properties-items-movil{
    flex-wrap: wrap;
  }
  textarea.w-input, textarea.w-select{
    min-height: auto;
  }
}
@media (max-width: 768px){
  .result-item:nth-child(3n){
    margin-right: 2%;
  }
  .v2-btn-black{
    width: 100%;
    display: block;
  }
  .v2-take-me{
    width: 100%;
    margin-top: 10px;
    display: block;
  }
  .v2-hover-specs-numbers{
    font-size: 18px;
  }
  .v2-hover-specs-property-list{
    border: 0;
  }
  .v2-property-reduced{
    text-align: center;
  }
  .rental-item-specs{
    flex-wrap: wrap;
  }
  .property-select-button {
    padding-left: 0px;
  }
  .sb2-mls-search-sidebar{
    width: 100%;
  }
  .sbflex-sidebar{
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .sbflex-list {
    max-width: 100%;
  }
  .sbflex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
@media (max-width: 479px){
  .result-item{
    margin-right: 0;
  }
  .v2-container-iframe-video {
    width: 100%;
    height: 350px;
    margin-bottom: 50px;
  }
  .v2-close-btn-modal-mandarina{
    top: -40px;
  }
  #load-properties-mobile{
    display: block;
  }
}